__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
.env
.venv
pip-log.txt
.tox
.coverage
.cache
nosetests.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.DS_Store
README.md
.gitignore
docs/
tests/
*.md
# Ignore git files
.git/
proxima_env/*
log_files/*
documentation/*
runner/*
dist/*